{% extends "admin/admin.html" %}

{% block content %}
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h3>欢迎进入一起旅行管理系统</h3>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">首页</a></li>
              <li class="breadcrumb-item"><a href="#">-</a></li>
              <li class="breadcrumb-item active">-</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="row">
                <div class="col-md-6">
                    <div class="box box-primary">
                        <div class="box-header with-border">
                            <h4 class="box-title">旅游网站系统有哪些功能</h4>
                        </div>
                        <div class="box-body">
                            <p>  对于前台：界面需雅观大方、直观、图文相间，操作需简单。
                                让浏览者快速完成预订，并提供多种咨询和交流方式，尽最大可
                                能让浏览者成为客户，从而为旅行社带来经济效益。
                            </p>
                            <p> 对于后台：需要强大的功能，清晰的结构，简化的界面，方便操作办
                                理，节省工作时间。
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="box box-primary">
                        <div class="box-header with-border">
                            <h4 class="box-title">简介</h4>
                        </div>
                        <div class="box-body" >
                            <p><b>网站所需核心内容</b></p>
		                    旅游线路预订，旅行业务办理，宾馆旅店预订，火车票、飞机票、客车票预订，
                            旅游租车等，是旅行社网站的核心内容。
		                    <p><b>旅游线路预订</b></p>
		                    介绍旅行社最新旅游动态,推荐旅游线路。推出不同的旅游线路，吸引游客。有
                            旅行社所推出的 旅游线路各个景色的具体介绍，图文并茂。线 路搜索可以方
                            便旅客搜索旅游线路，同时方便预定旅店、购物消费等,介绍旅行社 合作的宾
                            馆旅店、商场店铺等.
                            <p><b>旅行业务办理</b></p>
		                    办理旅行业务，介绍旅行社基本信息,旅行注意事项，旅行团事项。使旅客在网站
                            提前相识赏识，为旅行社潜在旅客留言，回复相干旅游事宜。
                            <p><b>旅行社票务系统</b></p>
                            飞机票，火车票、客车票预订，租车营业。
                        </div>
                    </div>
                </div>
            </div>
    </section>
    <!-- /.content -->
{% endblock %}