{% extends "admin/admin.html" %}

{% block content %}
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h3>欢迎进入一起旅行管理系统</h3>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">首页</a></li>
              <li class="breadcrumb-item"><a href="#">-</a></li>
              <li class="breadcrumb-item active">-</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="row">
                <div class="col-md-6">
                    <div class="box box-primary">
                        <div class="box-header with-border">
                            <h3 class="box-title">网站简介</h3>
                        </div>
                        <div class="box-body">
                            <p>
                                <b>网站</b>专注服务旅游，多年来始终致力于旅游行业。
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="box box-primary">
                        <div class="box-header with-border">
                            <h3 class="box-title">特色版块</h3>
                        </div>
                        <div class="box-body" >
                            <p><b>视频课程</b></p>
		视频课程涵盖明日科技的所有课程，针对不同用户的学习需求，用户可以根据自身情况选择适合自己的学习方式。视频课程包括体系课程、实战课程等，体系课程可以让用户的学习更具有系统性，同时能根据课程的周期，更有效的提高学习效率，优化学习效果。实战课程可以让用户通过实例、项目、模块等实训来练习，让学习更有效。
		<p><b>读书</b></p>
		读书是明日科技新上线的模块，也是明日科技多年编程项目、编程经验的积累，适应各种用户学习，更有不断更新的电子书资源将陆续上线。
                            <p><b>社区</b></p>
		社区是明日科技用户交流的重要部分，可以进行技术讨论、下载相关资源以及灌水交流等。互动交流时，可以上传图片、附件、投票支持或投票反对，更可以@好友一起玩耍~
                        </div>
                    </div>
                </div>
            </div>
    </section>
    <!-- /.content -->
{% endblock %}