{% extends  "admin/admin.html" %}

{% block content %}
<!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h3>一起旅行管理系统</h3>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="{{ url_for("admin.index") }}">首页</a></li>
              <li class="breadcrumb-item">会员管理</li>
              <li class="breadcrumb-item active"><a href="{{ url_for("admin.suggestion_list") }}">意见建议</a></li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">

      <!-- Default box -->
      <div class="card">
        <div class="card-header">
          <h3 class="card-title">建议列表</h3>
          <!-- search box -->
          <div class=" card-tools">
            <form action="" method="GET">
              <div class="input-group input-group-sm">
                 <input type="text" name="name_email_Search" class="form-control "
                   placeholder="请输入昵称或邮箱...">
                <div class="input-group-append">
                    <button type="submit" class="btn btn-default"><i class="fa fa-search"></i>
                    </button>
                </div>
              </div>
            </form>
          </div>
        </div>
        <div class="card-body p-0">
          <table class="table table-striped projects" style="font-size:14px;text-align: center;">
              <thead>
                  <tr>
                      <th>编号</th>
                      <th>昵称</th>
                      <th>邮箱</th>
                      <th>内容</th>
                      <th>发布时间</th>
                      <th>操作选项</th>
                  </tr>
              </thead>
              <tbody>
              {% if suggestion_data %}
                  {% for suggestion in suggestion_data %}
                      <tr>
                          <td>{{ suggestion.id }}</td>
                          <td>{{ suggestion.name }}</td>
                          <td>{{ suggestion.email }}</td>
                          <td>{{ suggestion.content }}</td>
                          <td>{{ suggestion.addtime }}</td>
                          <td class="project-actions text-right">
                              <a class="btn btn-info btn-sm" href= "{{url_for('admin.suggestion_del', id=suggestion.id)}}">
                                  <i class="fas fa-pencil-alt">
                                  </i>
                                  删除
                              </a>
                          </td>
                      </tr>
                  {% endfor %}
              {% endif %}
              </tbody>
          </table>
        </div>
        <!-- /.card-body -->
      </div>
      <!-- /.card -->

    </section>
    <!-- /.content -->
{% endblock %}
