{% extends  "admin/admin.html" %}

{% block content %}
<!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h3>一起旅行管理系统</h3>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="{{ url_for("admin.index") }}">首页</a></li>
              <li class="breadcrumb-item">日志管理</li>
              <li class="breadcrumb-item active"><a href="{{ url_for("admin.adminloginlog_list") }}">用户登录日志列表</a></li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">

      <!-- Default box -->
      <div class="card">
        <div class="card-header">
          <h3 class="card-title">管理员登录日志列表</h3>
        </div>
        <div class="card-body p-0">
          <table class="table table-striped projects" style="font-size:14px;text-align: center;">
              <thead>
                  <tr>
                      <th>编号</th>
                      <th>用户名</th>
                      <th>邮箱</th>
                      <th>登录时间</th>
                      <th>登录ip</th>
                  </tr>
              </thead>
              <tbody>
              {% if loginlog_data %}
                  {% for loginlog in loginlog_data %}
                      <tr>
                          <td>{{ loginlog.id }}</td>
                          {% if loginlog.user %}
                          <td>{{ loginlog.user.username }}</td>
                          {% else %}
                          <td> 用户已注销 </td>
                          {% endif %}
                           {% if loginlog.user %}
                          <td>{{ loginlog.user.email }}</td>
                          {% else %}
                          <td> 用户已注销 </td>
                          {% endif %}
                          <td>{{ loginlog.addtime }}</td>
                          <td>{{ loginlog.ip }}</td>
                      </tr>
                  {% endfor %}
              {% endif %}
              </tbody>
          </table>
        </div>
        <!-- /.card-body -->
      </div>
      <!-- /.card -->

    </section>
    <!-- /.content -->
{% endblock %}
